* { 
	box-sizing: border-box;
}

body {
    width: 780px;
    margin: 0;
    overflow-x: auto;
    overflow-y: auto;
}

.extenstionTitleCont {
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
   background-color: gray;
   width: 100%;
}

.tab {
    width: 200px;
    height: 40px;
    display: inline-block;
    font-size: 16px;
    padding: 12px;
    font-weight: bold;
    background-color: orange;
    cursor: pointer;
}

.active {
    background-color: white;
}

.content {
    margin-top: 10px;
}

h2 {
    text-indent: 10px;
}

button {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: #333333;
}

button:hover {
    cursor: pointer;
}

#buttonContainer {
    display: flex;
    height: 30px;
    padding: 15px;
    background-color: orange;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    /*height: 15vh; /* Adjust the height as needed */
}

#feedbackLS, #feedbackSS {
    background-color: lightskyblue;
    text-align: center;
}


#infoTitle:hover, #supportTitle:hover, #reportTitle:hover {
    cursor: pointer;
    font-weight: bold;
}

.moreinfoContent {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2px 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    margin-left: 10px;
    text-indent: 1em;
    width: 40%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.table-container {
    display: grid;
    place-items: center;
  }
  
  #groupTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  #groupTable thead th {
    padding: 8px;
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
  }
  
  #groupTable tbody td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  #groupTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.labelForText {
    text-indent: 10px;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.result-level-1 {
    text-indent: 10px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.result-level-2 {
    text-indent: 10px;
    font-size: 18px;
}
  

