* { 
	box-sizing: border-box;
}

body {
    width: 800px;
    margin: 0;
    overflow-y: auto;
}

.extenstionTitleCont {
    width: 100%;
    background-color: lightskyblue;
    color: black;
    padding: 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 150px;
    height: 30px;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}

#buttonContainer {
    display: flex;
    height: 30px;
    padding: 15px;
    background-color: #61a0f8;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    /*height: 15vh; /* Adjust the height as needed */
}

#getAPpass:hover, {
    background-color: yellow;
    font-weight: bold;
    border-bottom: 3px solid black;
}

#feedbackLS, #feedbackSS {
    background-color: lightskyblue;
    text-align: center;
}


#infoTitle:hover, #supportTitle:hover, #reportTitle:hover {
    cursor: pointer;
    font-weight: bold;
}

.moreinfoContent {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2px 8px;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.footerInfo {
    height: 30px;
    padding: 4px;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table-container {
    display: grid;
    place-items: center;
  }
  
  #groupTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  #groupTable thead th {
    padding: 8px;
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
  }
  
  #groupTable tbody td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  #groupTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

